<div class="fullpage-home">

  <div class="staticMenu">
    <div class="menuContainer">
      <%= render 'navigation' %>
    </div>
  </div>


  <div class="section moveDown" id="section1">
    <div class="wrap">
      <div class="menuContainer">
        <!-- <%= render 'navigation' %> -->
      </div>
      <div class="box">
        <h1>Title 1</h1>
      </div>
    </div>
  </div>


  <div class="section moveDown" id="section2">
    <div class="wrap">
      <div class="box">
        <h1>Title 2</h1>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
        <h6>Eu nec ferri molestie consequat, vel at alia dolore</h6>
      </div>
    </div>
  </div>

  <div class="section moveDown" id="section3">
    <div class="wrap">
      <div class="box">
        <h1>tier 3</h1>
      </div>
    </div>
  </div>

  <div class="section moveDown" id="section4">
    <div class="wrap">
      <div class="box">
        <h1>tier 4</h1>
      </div>
    </div>
  </div>

  <div class="section moveDown" id="section5">
    <div class="wrap">
      <div class="box">
        <h1>tier 5</h1>
      </div>
    </div>
  </div>
</div>
