<div id="fullpage">
  <%= render 'navigation' %>

  <div class="section moveDown" id="section1">
    <h1>Title 1</h1>
  </div>

  <div class="section moveDown" id="section2">
    <h1>Title 2</h1>
  </div>

  <div class="section moveDown" id="section3">
    <h1>tier 3</h1>
  </div>

  <div class="section moveDown" id="section4">
    <h1>tier 4</h1>
  </div>

  <div class="section moveDown" id="section5">
    <h1>tier 5</h1>
</div>
