<!-- <div class="button-group filters-button-group">
  <button class="button is-checked" data-filter="*">Все</button>
  <button class="button" data-filter=".concept">концепции</button>
  <button class="button" data-filter=".training">практика</button>
  <button class="button" data-filter=".design">дизайн</button>
</div>


<div class="row grid">
    <div class="grid-item concept small-4 medium-4 large-4 columns" data-category="concept">
      <h3 class="name">Mercury</h3>
      <img src="/assets/portfolio/1.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item grid-item--width2 concept small-4 medium-4 large-4 columns" data-category="concept">
      <h3 class="name">Tellurium</h3>
      <img src="/assets/portfolio/2.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item training small-4 medium-4 large-4 columns" data-category="training" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/3.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>


    <div class="grid-item training small-4 medium-4 large-4 columns" data-category="training">
      <h3 class="name">Mercury</h3>
      <img src="/assets/portfolio/4.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item grid-item--width2 design small-4 medium-4 large-4 columns" data-category="design">
      <h3 class="name">Tellurium</h3>
      <img src="/assets/portfolio/5.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/6.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/7.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/8.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/9.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/10.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/11.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/12.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/13.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/14.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/15.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>

    <div class="grid-item design small-4 medium-4 large-4 columns" data-category="design" >
      <h3 class="name">Lead</h3>
      <img src="/assets/portfolio/16.jpg" class="img-responsive" alt="Project Title"> </a>
    </div>
</div>

 -->
