#career{
  padding: 75px 0;
}
#career .section-title span {
  font-size: 26px;
  color: #6e6e6e;
}
#career hr {
  background: rgba(255,255,255,0.3);
}
.career-item{
  height: 180px;
  text-align: left !important;
  position: relative;
}
.career-info-container{
  display: inline-block;
  float: left;
  text-align: right;
  width: 42%;

}
.career-years-container{
  display: inline-block;
  border: 1px solid black;
  left: 44%;
  position: absolute;
  text-align: center;

  line-height: 24px;
  vertical-align: middle;

  height: 120px;
  width: 120px;
}


.career-years-container span{
}
