.myMenu.moveDown{
  top: 0;
}

.top-bar {
  height: 52px;
  line-height: 52px;
  background-color: none;
}

.menu{
  background: none !important;
}


.myMenu {
  position: absolute;
  height: 52px;
  top: 75%;
  min-width: 100%;
  z-index: 70;

  background: #45b5c9; /* Old browsers */
  background: -moz-linear-gradient(-35deg,  #45b5c9 0%, #26cac9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-35deg,  #45b5c9 0%,#26cac9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(145deg,  #45b5c9 0%,#26cac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b5c9', endColorstr='#26cac9',GradientType=0 ); /* IE6-9 */

  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

li a, li a:visited {
  color: #6a7a7a;
}

li a:hover{
  color: #fff;
}

.no-empty{
  min-height: 1px;
}
.active>a{
  background: none !important;
}

.name, .blog-btn{
  color: #fff !important;
  font-weight: bold;
}

.blog{
  text-align: center;
  height: 35px;
  width: 70px;
  border: 2px solid #fff;
  padding: 0px !important;
}
.blog:hover .blog-btn:hover{
  background-color: #fff;
  color: #45b5c9 !important;
}

.blog-btn{
  width: 67px;
  height: 32px;
  line-height: 32px;

  display: inline-block;
  vertical-align: 50%;
}
