h1 {
	font-size: 5em;	
	font-family: arial,helvetica;
	color: #000;
	margin: 0;
	padding: 0;
}

main {
	background-image: image-url("aydar.jpg"); 
  padding: 0;
  width: 100%;
}

.bor{
	border: 1px solid black;
}


@media only screen and (min-width: 500px) and (max-width: 900px) {
	.name{
		display: none;
		visibility: hidden;
	}
	.navigator{
		width: 90%;
	}
	.blog{
		width: 10%;
	}
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
	.name{
		display: none;
		visibility: hidden;
	}
}

@media only screen and (min-width: 0px) and (max-width: 670px) {
	.name{
		display: none;
		visibility: hidden;
	}
}


.section {
	text-align:center;
}

#section1,
#section2,
#section3,
#section4 {
	background-size: cover;
}

#section1 {
	background-image: url("/assets/aydar.jpg");
}

#section2 {
	background-image: image-url("bg2.jpg");
	background: grey;

}

#section3 {
	background-image: image-url("bg3.jpg");
}

#section4 {
	background-image: image-url("bg4.jpg");
}




/* Skills Section */
#skills {
	padding: 100px 0;
	/*background: #7bc3d1;*/
}
#skills h2 {
	color: #6e6e6e;
}
#skills hr {
	background: rgba(255,255,255,0.3);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

