h1 {
	font-size: 5em;	
	font-family: arial,helvetica;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic' !important;
}

h1, h2, h3, h4, div, span, li {
	font-family: 'Century Gothic' !important;
}

.bor{
	border: 1px solid black;
}


.pad-lf-rg-24{
	padding-left: 24px;
	padding-right: 24px;
}
.pad-rg-0{
	// padding-left: 0px !important; 
	padding-right: 0px !important;
}
.pad-0{
	padding: 0px 0px !important;
}

.white-h2{
	color: #fff;
}


body{
	// min-width: 2000px;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
	.name{
		display: none;
		visibility: hidden;
	}
	.navigator{
		width: 90%;
	}
	.blog{
		width: 10%;
	}
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
	.name{
		display: none;
		visibility: hidden;
	}
}

@media only screen and (min-width: 0px) and (max-width: 670px) {
	.name{
		display: none;
		visibility: hidden;
	}
}


.section {
	text-align:center;
}

#section1{
	background-size: cover;
}

#section1 {
	background-image: image-url("first-back.jpg");
}

#section2 {
	background: #6e6e6e;
}

#section3 {
}

#section4 {
	background: #6e6e6e;
	text-align: normal;

}
#section6{
	background: #6e6e6e;
}
#section7{
	text-align: normal;
}

// #section6,
// #section6 .fp-slide,
// #section6 .fp-tableCell{
//     height: auto !important;
// }
