.stat{
  height: 350px;
  padding-top: 50px;
}
.stat-footer{

}

.counter{
  color: #3fbac9;
  font-size: 70px;
  font-weight: bold;
}

.counter-title{
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}
